<div class="row py-2">
    <div class="col-md-12" id="ongoing-projects">
        <h2>Ongoing Projects</h2>
    </div>
</div>
<div class="row py-2 publication">
    <div class="col-md-3 col-sm-12 project-thumbnail-parent" align="center">
        <img class="project-thumbnail" src="/publications/images/cable_insertion.gif" alt="project image" />
    </div>
    <div class="col-md-9 col-sm-12 project-description">
        <h3>Learning Precise Manipulation for Industrial Automation</h3>
        <br>
        <p class="text-justify">
        We develop robot learning methods for industrial automation, focusing on high-precision tasks such as PCB soldering. These tasks demand both accuracy and adaptability, yet have traditionally required significant effort, costly equipment, or were considered infeasible with conventional automation.
        </p>
    </div>
</div>
